.content__wrapper
  max-width: 940px
  margin: 0 auto
  display: flex

.aside
  // width: 210px
  &_left
    margin-right: 15px
  &_right
    margin-left: 15px

.menu
  margin: 0
  padding: 13px 0 0 0
  &__item
    display: flex
    align-items: center
    padding-bottom: 11px
    margin-bottom: 12px
    border-bottom: 1px solid #e0e2e6
    &_feed::before
      content: url(../img/feed.svg)
      margin-right: 20px
      flex-basis: 30px
    &_ask::before
      content: url(../img/ask.svg)
      margin-right: 20px
      flex-basis: 30px
    &_companies::before
      content: url(../img/companies.svg)
      margin-right: 20px
      flex-basis: 30px
    &_services::before
      content: url(../img/services.svg)
      margin-right: 20px  
      flex-basis: 30px 
  &__link
    color: #646b75

.adsss 
  margin-top: 19px
  border-bottom: 1px solid #e0e2e6
  &__title
    font-size: 14px
    font-weight: 600
    color: #7c8695
    margin-bottom: 17px
  &__desc
    color: #d3d3d3
    font-size: 11px
    margin: 4px 0 18px
    font-weight: 400

.featured
  width: 210px
  border-bottom: 1px solid #e0e2e6
  &__title-container
    display: flex
    justify-content: space-between
    margin-top: 19px
  &__title
    color: #7c8695
    font-size: 14px
    font-weight: 400
    margin: 0
  &__cards
    margin-top: 17px

.card-featured
  display: flex
  margin-bottom: 17px
  &__photo
    margin-right: 10px
  &__info_company-name
    color: #1c2534
    margin: -2px 0 6px
    display: block
  &__info_company-mfc
    color: #7c8695
    font-size: 14px
    margin: 0 0 6px
  &__info_company-location
    color: #1c2534
    font-size: 14px
    margin: 0 0 6px

.btn-all
  color: #1c2534
  font-size: 14px
  font-weight: 400

.btn-follow
    font-size: 12px
    font-weight: 400
    color: #1c2534
    display: block

.footer
  font-size: 12px

.copy
  color: #b7bfcd
  margin: 17px 0 4px
  display: block

.terms
  color: #b7bfcd
  display: inline-block
  margin-right: 17px

.privacy
  color: #b7bfcd
  display: inline-block

.main
  &__title-container
    display: flex
    justify-content: space-between
    margin: 13px 0 19px
  &__title
    color: #1c2534
    font-size: 30px
    font-weight: 400
    margin: 0

.btn-newservice
  font-size: 14px
  color: #fff
  width: 145px
  height: 30px
  margin-top: -1px
  margin-right: 4px
  border-radius: 5px
  background-color: #87b448
  border: none

.main__services
  display: flex
  flex-flow: row wrap
  padding: 15px
  border: 1px solid #e0e2e6

.service-main
  margin: 0
  text-align: center
  margin-bottom: 120px
  margin-right: 20px
  &__icon
    width: 140px
    height: 140px
    border: 1px solid #e0e2e6
    // box-sizing: border-box
    // display: flex
    justify-content: center
    align-items: center
  &__caption
    color: #1c2534
    font-size: 14px
    font-weight: 400

.black
  border: 1px solid red
  width: 100px
  height: 100px
  background-color: #000