.content__wrapper
  min-width: 940px
  width: 70%
  margin: 0 auto
  display: flex
  @media screen and (min-width: 1440px)
    width: 1010px
    
.aside
  width: 210px
  &_left
    margin-right: 15px
  &_right
    margin-left: 15px

.menu
  margin: 0
  padding: 13px 0 0 0
  &__item
    display: flex
    align-items: center
    padding-bottom: 11px
    margin-bottom: 12px
    border-bottom: 1px solid #e0e2e6
    &_feed::before
      content: url(../img/feed.svg)
      margin-right: 20px
      flex-basis: 30px
    &_ask::before
      content: url(../img/ask.svg)
      margin-right: 20px
      flex-basis: 30px
    &_companies::before
      content: url(../img/companies.svg)
      margin-right: 20px
      flex-basis: 30px
    &_services::before
      content: url(../img/services.svg)
      margin-right: 20px  
      flex-basis: 30px 
  &__link
    color: #646b75

.adsss 
  margin-top: 19px
  border-bottom: 1px solid #e0e2e6
  &__wrap
    height: 300px
  &__title
    font-size: 14px
    font-weight: 600
    color: #7c8695
    margin-bottom: 17px
  &__desc
    color: #d3d3d3
    font-size: 11px
    margin: 4px 0 18px
    font-weight: 400
  &_right
    border-bottom: none

.featured
  width: 210px
  border-bottom: 1px solid #e0e2e6
  &__title-container
    display: flex
    justify-content: space-between
    margin-top: 19px
  &__title
    color: #7c8695
    font-size: 14px
    font-weight: 400
    margin: 0
  &__cards
    margin-top: 17px

.card-featured
  display: flex
  margin-bottom: 17px
  &__photo
    margin-right: 10px
  &__info_company-name
    color: #1c2534
    margin: -2px 0 6px
    display: block
  &__info_company-mfc
    color: #7c8695
    font-size: 14px
    margin: 0 0 6px
  &__info_company-location
    color: #1c2534
    font-size: 14px
    margin: 0 0 6px

a
  &:hover
    color: purple
  &:active
    color: red

.btn-all
  color: #1c2534
  font-size: 14px
  font-weight: 400

.btn-follow
  font-size: 12px
  font-weight: 400
  color: #1c2534
  display: block

.footer
  font-size: 12px

.copy
  color: #b7bfcd
  margin: 17px 0 4px
  display: block

.terms
  color: #b7bfcd
  display: inline-block
  margin-right: 17px

.privacy
  color: #b7bfcd
  display: inline-block

.main
  min-width: 52%
  &__title-container
    display: flex
    justify-content: space-between
    margin: 13px 0 19px
  &__title
    color: #1c2534
    font-size: 30px
    font-weight: 400
    margin: 0

.btn-newservice
  font-size: 14px
  font-family: inherit
  color: #fff
  width: 145px
  height: 30px
  margin-top: -1px
  margin-right: 4px
  border-radius: 5px
  background-color: #87b448
  border: none
  &:hover
    opacity: 0.9
    cursor: pointer
  &:active
    background-color: #73993d

.main__services
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  padding: 15px
  padding-bottom: 0
  margin-bottom: 30px
  border: 1px solid #e0e2e6
  border-radius: 5px

.service-main
  width: 140px
  margin: 0
  text-align: center
  &__icon
    width: 140px
    height: 140px
    border: 1px solid #e0e2e6
    display: flex
    justify-content: center
    align-items: center
  &__caption
    color: #1c2534
    font-size: 14px
    font-weight: 400

.service-main:hover 
  .service-main__icon
    background-color: #f4f7fb
  .service-main__caption
    color: #71973c

.card-featured
  &__wrap
   display: flex
   margin-bottom: 15px
  &__title
    color: #1c2534
    margin: 0 0 8px
    display: block
  &__info_position
    color: #7c8695
    font-size: 14px
    margin: 0 0 6px
  &__info_location
    color: #7c8695
    font-size: 14px
    margin: 0 0 6px
  &__info-desc
    color: #7c8695
    font-size: 14px
    margin: 0 0 6px
    line-height: 16px

.btn-addfriend
  font-size: 12px
  font-weight: 400
  color: #1c2534
  display: block

